@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");

    .images {
      width: 100%;
      height: 200px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .profilePic {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 140px;
      }
    }
    .profileContainer {
      padding: 20px 70px;

      @include mobile {
        padding: 10px;
      }

      @include tablet {
        padding: 20px;
      }

      .uInfo {
        height: auto;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 20px;

        @include mobile {
          flex-direction: column;
          padding: 15px;
          margin-top: 80px;
          gap: 15px;
        }

        .left {
          flex: 0 0 auto;
          display: flex;
          gap: 8px;

          @include tablet {
            flex-wrap: wrap;
            gap: 5px;
          }

          a {
            color: themed("textColorSoft");
            display: flex;
            align-items: center;
          }
        }

        .center {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          flex: 1;

          span {
            font-size: 20px;
            font-weight: 600;
          }

          .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .item {
              display: flex;
              align-items: center;
              gap: 4px;
              color: themed("textColorSoft");
              font-size: 13px;

              svg {
                font-size: 18px;
              }

              span {
                font-size: 12px;
              }
            }
          }
          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 5px;
          }
        }

        .right {
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          gap: 8px;

          @include mobile {
            gap: 5px;
          }
        }
      }
    }
  }
}
